doctype html
html
  head
    title Attendance App
  body
    header
      nav
        a(href='/') Home
        a(href='/class') Classes
        a(href='/teacher') Teachers
        a(href='/student') Students
    main!= body
    footer
      |Copyright © 2022 Attendance App
